@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #1e202d;
  color: #d2d2d2;
}

img {
  max-width: 100%;
  height: auto; /* Mantiene la proporción de la imagen */
}

/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */
.header {
  background-color: #12121c;
  display: flex;
  align-items: center;
  min-height: 80vh;
  padding: 80px 0;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #687cef;
  font-size: 25px;
  font-weight: 800;
  text-transform: uppercase;
}

/* Menu Navigation */
.menu .navbar ul {
  display: flex; /* Usa flexbox para alinear los elementos en fila */
  padding: 0; /* Elimina el relleno predeterminado */
  margin: 0; /* Elimina el margen predeterminado */
  list-style: none; /* Elimina los puntos de la lista */
}

.menu .navbar ul li {
  margin: 0; /* Elimina el margen predeterminado de los elementos de la lista */
  padding: 20px; /* Relleno para los elementos de la lista */
}

.menu .navbar ul li a {
  color: #ffffff; /* Color del texto de los enlaces */
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  display: block; /* Asegura que el área de clic de los enlaces sea el bloque completo */
}

.menu .navbar ul li a:hover {
  color: #687cef;
}

#menu {
  display: none;
}

.menu-icon {
  width: 25px;
}

.menu label {
  cursor: pointer;
  display: none;
}

/* Header Text */
.header-text {
  text-align: center;
  padding: 0 150px;
}

.header-text h1 {
  font-size: 55px;
  line-height: 1;
  color: #fdfeff;
  margin-bottom: 25px;
}

span {
  color: #687cef;
}

p {
  font-size: 17px;
  margin-bottom: 35px;
}

/* Buttons */
.buttons {
  display: flex;
  justify-content: center;
}

.btn-1 {
  display: inline-block;
  padding: 11px 35px;
  background: linear-gradient(
    90deg,
    rgba(37, 118, 250, 1) 0%,
    rgba(84, 115, 237, 1) 100%
  );
  color: #fdfeff;
  margin: 0 15px;
  text-decoration: none; /* Elimina el subrayado predeterminado */
}

/* Information Section */
.informacion {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  margin-top: -70px;
}

.informacion-item {
  margin: 0 10px;
  background: linear-gradient(
    90deg,
    rgba(84, 105, 210, 1) 0%,
    rgba(35, 43, 88, 1) 68%
  );
  padding: 15px;
  border-radius: 15px;
}

.informacion-item h3 {
  color: #fdfeff;
  font-size: 18px;
}

.informacion-item p {
  margin-bottom: 5px;
}

.informacion-item a {
  color: #fdfeff;
  text-decoration: none; /* Elimina el subrayado predeterminado */
}

.informacion-item:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(37, 118, 250, 1) 0%,
    rgba(84, 115, 237, 1) 100%
  );
}

/* About Section */
.about {
  padding: 120px 0;
  display: flex;
  align-items: center;
}

.about-img {
  flex-basis: 50%;
}

.about-img img {
  width: 500px;
  border-radius: 15px;
}

.about-text {
  flex-basis: 50%;
}

h2 {
  font-size: 40px;
  color: #fdfeff;
  line-height: 1.4;
  margin-bottom: 15px;
}

.about-text a {
  margin: 0;
}

.intro {
  color: #687cef;
  font-size: 15px;
}

/* Services Section */
.services {
  padding: 0 0 120px;
  text-align: center;
}

.services-content {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.services-item {
  background-color: #1e202d;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-item:hover {
  background: linear-gradient(
    90deg,
    rgba(37, 118, 250, 1) 0%,
    rgba(84, 115, 237, 1) 100%
  );
  cursor: pointer;
}

.services-item img {
  width: 30px;
  margin-bottom: 10px;
}

.services-item h3 {
  color: #fdfeff;
  margin-bottom: 15px;
}

/* Price Section */
.price {
  padding: 0 0 120px;
  text-align: center;
}

.price-content {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Añade espacio entre los elementos */
  margin-top: 45px;
}

.price-item {
  flex: 1; /* Asegura que todos los elementos tengan el mismo ancho */
  max-width: calc(
    33.3% - 20px
  ); /* Ajusta el ancho máximo para que encajen tres elementos en una fila */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  padding: 40px;
  border-radius: 15px;
}

.price-item .pack {
  color: #fdfeff;
  font-weight: 600;
  margin-bottom: 10px;
}

.pack {
  color: #fdfeff;
  font-size: 600;
  margin-bottom: 10px;
}

.price-item h3 {
  color: #fdfeff;
  font-size: 70px;
}

.bg-pack {
  background: linear-gradient(
    90deg,
    rgba(37, 118, 250, 1) 0%,
    rgba(84, 115, 237, 1) 100%
  );
}

.pack-center {
  color: #fdfeff;
}

.price-item {
  color: #fdfeff;
  margin-bottom: 15px;
}

/* Contact Section */
/* Contact Section */
/* Contact Section */
.contact {
  padding: 60px 0;
  text-align: center;
  background-color: #1e202d; /* Ajusta el fondo si es necesario */
}

.contact h2 {
  margin-bottom: 20px;
  color: #fdfeff;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #fdfeff;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

textarea {
  resize: vertical;
  min-height: 100px; /* Puedes ajustar la altura mínima si lo deseas */
}

button {
  background: linear-gradient(
    90deg,
    rgba(37, 118, 250, 1) 0%,
    rgba(84, 115, 237, 1) 100%
  );
  color: #fdfeff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button:hover {
  background: linear-gradient(
    90deg,
    rgba(37, 118, 250, 1) 0%,
    rgba(84, 115, 237, 1) 80%
  );
}

/* Footer */
.footer {
  background-color: #151521;
  padding: 50px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.link h3 {
  color: #fdfeff;
  font-size: 18px;
  margin-bottom: 10px;
}

.link a {
  color: #d2d2d2;
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
}

.link a:hover {
  color: #687cef;
}

@media (max-width: 991px) {
  .menu {
    padding: 20px;
  }

  .menu label {
    display: initial;
  }

  .menu .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #687cef;
    display: none;
  }

  .menu .navbar ul li a:hover {
    color: #151521;
  }

  .menu .navbar ul li {
    width: 100%;
  }

  #menu:checked ~ .navbar {
    display: initial;
  }

  .header {
    min-height: 0vh;
    padding: 80px 30px 50px 30px;
  }

  .header-text {
    padding: 0;
  }

  .header-text h1 {
    font-size: 45px;
  }

  .buttons {
    flex-direction: column;
    padding: 0 50px;
  }

  .btn-1 {
    margin: 0 0 20px 0;
  }

  .informacion {
    margin-top: 0;
    padding: 30px;
    flex-direction: column;
  }

  .informacion-1 {
    margin: 0 0 20px 0;
  }

  .about {
    padding: 0 30px 30px 30px;
    flex-direction: column;
  }

  .about-text {
    text-align: center;
    margin-bottom: 30px;
  }

  .about-img {
    order: 1;
  }

  .services {
    padding: 0 30px 30px 30px;
  }

  .services-content {
    margin-top: 30px;
    grid-template-columns: repeat(1, 1fr);
  }

  .price {
    padding: 30px;
  }

  .price-content {
    flex-direction: column;
  }

  .price-item {
    margin-bottom: 30px;
  }

  .footer {
    padding: 30px;
  }

  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .link {
    margin-bottom: 10px;
  }
}
